%header.header
  .header__left
    = link_to root_path, class: 'header__left__logo' do
      = image_tag 'logo.png', alt: 'ロゴ', size: '160x70', class: 'logo'
  .header__right
    .header__right__gide
      %p 着物リメイク〜和風でお洒落に〜
      %span 【受付時間】9:00~17:00
    %ul.header__right__list
      %li
        = link_to root_path do
          トップページ
      %li
        = link_to homes_plan_path do
          料金一覧
      %li
        = link_to products_path do
          商品一覧
      %li
        = link_to root_path do
          既製品一覧
      = link_to "よくあるご質問", homes_question_path, class: "create-user-button"
      = link_to "お問い合わせ", homes_contact_path, class: "create-user-button"
      -# 管理者なら以下を表示
      -# = link_to "管理画面", "", class: "admin-button"

.navi
  %ul
    %li
      = link_to root_path do
        トップページ
    %li
      = link_to homes_plan_path do
        料金一覧
    %li
      = link_to products_path do
        商品一覧
    %li
      = link_to root_path do
        既製品一覧
    %li
      = link_to homes_question_path do
        よくある質問
    %li
      = link_to homes_contact_path do
        お問い合わせ

.header-responsive
  .header-responsive__left
    .logo
      = image_tag 'logo.png', alt: 'ロゴ', height: '30', width: '66', class: "mark"

  .header-responsive__right
    .toggle
      %span
      %span
      %span