.home
  .home__container
    .home__container__movie
      = video_tag '/assets/videos/kimono-sample.mp4', autoplay: true, loop: true , muted: true
    .home__container__step
      .home__container__step__title
        %span ご利用の流れ
      .home__container__step__content
        .home__container__step__content__up
          .home__container__step__content__up__first
            = image_tag 'kimono.jpg', alt: ''
            .title-zone
              .title-zone__title-box
                %span.step
                  STEP1-
                %span.title
                  着物をご用意
              .title-zone__discription-box
                %span
                  ご自身でリメイクしたい着物を1着分ご用意していただきます。ご不明な点がございましたら
                %span
                  = link_to root_path do
                    お問い合わせ
                %span
                  ページより解答いたします。
          .home__container__step__content-responsive
            %span
              ご自身でリメイクしたい着物をご用意していただきます。ご不明な点がございましたら
            %span
              = link_to root_path do
                お問い合わせ
            %span
              ページより解答いたします。
          .home__container__step__content__up__second
            = image_tag 'kimono.jpg', alt: ''
            .title-zone
              .title-zone__title-box
                %span.step STEP2-
                %span.title ご購入
              .title-zone__discription-box
                %span
                  = link_to root_path do
                    商品一覧
                %span
                  ページよりリメイクしたい形、サイズ、性別を選択していただきご購入ください。
          .home__container__step__content-responsive
            %span
              = link_to root_path do
                商品一覧
            %span
              ページよりリメイクしたい形、サイズ、性別を選択していただきご購入ください。
        .home__container__step__content__down
          .home__container__step__content__down__third
            = image_tag 'kimono.jpg', alt: '' 
            .title-zone
              .title-zone__title-box
                %span.step STEP3-
                %span.title 着物発送
              .title-zone__discription-box
                %span
                  弊社宛に着物を発送していただきます。
          .home__container__step__content-responsive
            %span
              弊社宛に着物を発送していただきます。
          .home__container__step__content__down__fourth
            = image_tag 'kimono.jpg', alt: ''
            .title-zone
              .title-zone__title-box
                %span.step STEP4-
                %span.title 作業着手
              .title-zone__discription-box
                %span
                  選択していただいた内容をもとに、実際に作業を開始させていただきます。最後まで丁寧な作業を心がけておりますのでご安心ください。お客様のお手元に商品到着まで約1ヶ月程頂戴いたします。
          .home__container__step__content-responsive
            %span
              選択していただいた内容をもとに、実際に作業を開始させていただきます。最後まで丁寧な作業を心がけておりますのでご安心ください。お客様のお手元に商品到着まで約1ヶ月程頂戴いたします。
    .home__container__production
      .home__container__production__title
        %span 過去の作品
      .home__container__step__content